extends layout
append scripts
    script(src='https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js' type='text/javascript')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css')
block content
    .container
        .row
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-home' role='tab' aria-controls='v-pills-home' aria-selected='true') Overview
                    a#v-pills-beers-tab.nav-link(data-toggle='pill' href='#v-pills-beers' role='tab' aria-controls='v-pills-beers' aria-selected='false') On Tap
                    a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-settings' role='tab' aria-controls='v-pills-settings' aria-selected='false') Settings
            .col-9
                #v-pills-tabContent.tab-content
                    #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab') 
                        each tap, i in taps
                            - var idx = i + 1
                            div(style='margin-top: 15px;')
                                | Tap #{idx} --- #{pct[i]}% full w/ #{oz[i]}oz. remaining.

                    #v-pills-beers.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab')
                        each tap, i in taps
                            - var idx = i + 1
                            - var tapped = 0

                            .card.tap-body
                                .card-body
                                    .row
                                        .col-3(style='color: black;') !{idx}
                                        if(typeof(tap.name) != 'undefined')
                                            .col-9.admin_beer_name
                                                | !{tap.name}
                                            .col-3
                                            .col-9
                                                a.emptykeg(href='#' data-tapnum='#{idx}') Kick Keg       
                                                |  -  
                                                a.editkeg(href='#' data-tapnum='#{idx}') Edit Beer                 
                                        else
                                            .col-9.admin_beer_name Not tapped :(
                                            .col-3
                                            .col-9
                                                a.tapakeg(href='#' data-tapnum='#{idx}') Tap a Keg

                    #v-pills-settings.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab') ...

    // Modal
    #tap_modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form#beer_form(method='POST', action='/new_beer')
                input#tap_num(type='hidden', name='tap_num')
                .form-group
                    label(for='beer_name') Beer Name
                    input.form-control#beer_name(type='text', name='beer_name' )
                .form-group
                    label(for='style') Style
                    input.form-control#style(type='text', name='style' )
                .form-group
                    label(for='rgb') RGB
                    input.form-control#rgb(type='text', name='rgb')
                .form-group
                    label(for='og') OG
                    input.form-control#og(type='text', name='og' )
                .form-group
                    label(for='fg') FG
                    input.form-control#fg(type='text', name='fg' )
                .form-group
                    label(for='abv') ABV
                    input.form-control#abv(type='text', name='abv' )
                .form-group
                    label(for='description') Description
                    textarea.form-control#description(name='description' )
                .form-group
                    label(for='scale_num') Scale #
                    input.form-control#scale_num(type='text' name='scale_num')
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
            button.btn.btn-primary#submit_btn(type='button') Add

    #kick_modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title

            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-footer
            form#kick_form(method='POST', action='/kick_beer')
                input#kick_num(type='hidden', name='kick_num')
            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
            button.btn.btn-primary#kick_btn(type='button') Kick

    #edit_modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form#edit_form(method='POST', action='/update_beer')
                input#edit_tap_num(type='hidden', name='tap_num')
                input#edit_beer_id(type='hidden', name='beer_id')
                .form-group
                    label(for='beer_name') Beer Name
                    input.form-control#edit_beer_name(type='text', name='beer_name' )
                .form-group
                    label(for='style') Style
                    input.form-control#edit_style(type='text', name='style' )
                .form-group
                    label(for='rgb') RGB
                    input.form-control#edit_rgb(type='text', name='rgb')
                .form-group
                    label(for='og') OG
                    input.form-control#edit_og(type='text', name='og' )
                .form-group
                    label(for='fg') FG
                    input.form-control#edit_fg(type='text', name='fg' )
                .form-group
                    label(for='abv') ABV
                    input.form-control#edit_abv(type='text', name='abv' )
                .form-group
                    label(for='description') Description
                    textarea.form-control#edit_description(name='description' )
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
            button.btn.btn-primary#edit_btn(type='button') Update

    script.
        $('#submit_btn').on('click', function() {
            $('#beer_form').submit();
        })

        $('#kick_btn').on('click', function() {
            $('#kick_form').submit();
        })

        $('#edit_btn').on('click', function() {
            $('#edit_form').submit();
        })

        $('.tapakeg').on('click', function(event) {
            event.preventDefault();
            var tap = $(this).data('tapnum')
            var modal = $('#tap_modal').modal();
            modal.find('.modal-title').text('Add a beer to tap ' + tap);
            modal.find('#tap_num').val(tap);
            modal.toggle();
        })

        $('.emptykeg').on('click', function(event) {
            event.preventDefault();
            var tap = $(this).data('tapnum');
            var modal = $('#kick_modal').modal();
            modal.find('.modal-title').text('Are you sure you want to kick tap ' + tap + '?');
            modal.find('#kick_num').val(tap);
            modal.toggle();
        })

        $('.editkeg').on('click', function(event) {
            event.preventDefault();

            var tap = $(this).data('tapnum');
            var modal = $('#edit_modal').modal();

            var tapnum = {tap: tap};

            $.ajax({
                url: '/get_keg_info',
                type: 'GET',
                data: tapnum,
                success: function(data) {

                    $('#edit_beer_name').val(data.name)
                    $('#edit_style').val(data.style)
                    $('#edit_rgb').val(data.rgb)
                    $('#edit_og').val(data.og)
                    $('#edit_fg').val(data.fg)
                    $('#edit_abv').val(data.abv)
                    $('#edit_description').val(data.description)
                    $('#edit_beer_id').val(data.id);

                    modal.toggle();
                }
            })
            
        })
        // $('#rgb').on('input', function() {
        //     var color = $(this).val();
        //     $('#rgb_fill').css('background-color', '#' + color);
        // })

        $(document).ready(function() {
            $('#rgb,#edit_rgb').spectrum({
                type: 'component'
            });
        })
