extends layout
append scripts
    meta(http-equiv="refresh" content="900")

    script.
        var socket = io.connect();

        socket.on('update', (tap, pct, oz, pour) => {

            $('#progressbar_' + tap).css('width', pct + '%');
            $('#progressbar_' + tap).attr('aria-valuenow', pct);
            $('#progressbar_' + tap + ' span').text(oz + ' oz.');

            var bottles = Math.floor(oz / 12);
            $('#bottles_' + tap).text('Approx ' + bottles + ' 12oz. bottles')

            if(pct <= 12) {
                var pxl = pct * 3;
                $('#progressbar_' + tap + ' span').css({'position': 'absolute', 'color': 'black', 'font-weight': 'bold','margin-left': pxl + 'px'})
            } else {
                $('#progressbar_' + tap + ' span').css({'position': 'relative', 'color': 'white', 'font-weight': 'normal','margin-left': '0px'})
            }

            $('#exampleModalBody').text('Pour: ' + pour + 'oz')
            $('#exampleModalCenter').modal('show');
            setTimeout(function() {
                $('#exampleModalCenter').modal('hide');
            }, 6000);
        });

        socket.on('update_no_pour', (tap, pct, oz, pour) => {

            $('#progressbar_' + tap).css('width', pct + '%');
            $('#progressbar_' + tap).attr('aria-valuenow', pct);
            $('#progressbar_' + tap + ' span').text(oz + ' oz.');

            var bottles = Math.floor(oz / 12);
            $('#bottles_' + tap).text('Approx ' + bottles + ' 12oz. bottles')

            if(pct <= 12) {
                var pxl = pct * 3;
                $('#progressbar_' + tap + ' span').css({'position': 'absolute', 'color': 'black', 'font-weight': 'bold','margin-left': pxl + 'px'})
            } else {
                $('#progressbar_' + tap + ' span').css({'position': 'relative', 'color': 'white', 'font-weight': 'normal','margin-left': '0px'})
            }

        });

        socket.on('update_co2', (pct) => {
            $('#co2_pct').text('CO2 @ ' + pct + '%');
        })

block content

    .container-fluid
        .row
            .col-12.text-center
                h1 The Black Rabbit
            .col-3
            .col-6.text-center(style='font-style: italic;')
                | Last Updated !{last_updated}
            .col-3#co2_pct(style='margin-bottom: auto; text-align: right; padding-right: 80px; font-size: 18px;')
                | CO2: 
        .row(style='display: flex; margin: auto; margin-top: 20px;')
            .grid-container
                div(style='justify-content: center; font-weight: bold;')
                    | Tap #
                div(style='justify-content: center; font-weight: bold;')
                    | Name
                div(style='justify-content: center; font-weight: bold;')
                    | ABV
                div(style='font-weight: bold;')
                    | Description
                div(style='justify-content: center;')
                    | Fill
                each tap, i in taps
                    - var idx = i + 1
                    - var tapped = 0
                    - var bg = idx % 2 == 1 ? 0 : 1
                    - var thisfont = ''

                    each font in fonts
                        if(font.tap == idx)
                            - thisfont = font.font
                    if(typeof(tap.name) != 'undefined')
                        div(class='tap_active tapnum_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                            svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 297 488.06' style='max-width: 60%; margin: auto;')
                              defs
                                style.
                                  .cls-1{stroke:#{tap.rgb}}
                                  .cls-2{fill:#{tap.rgb};opacity:.78;stroke:#{tap.rgb}}
                                  .cls-3{fill:#{tap.rgb};opacity:100;stroke:#{tap.rgb}}
                              path(d='M456 292c-1.79 1.62-1.34 4-1.77 6-1.57 7.37-3.28 14.89-7.43 21.06-6.11 9.09-6.82 19.15-7.75 29.4q-5.31 58.94-10.79 117.87-4.71 51.73-9.35 103.46l-3 32.83a9.85 9.85 0 01-2.31 5.38c-9 11.61-21.53 17.62-35 22-28.76 9.28-58.39 11.25-88.35 9.53-19.17-1.1-38.06-3.93-56.27-10.33-12.56-4.42-24.2-10.31-32.61-21.16a9.91 9.91 0 01-2.35-5.36q-5-56.46-10.19-112.92-6.26-68.14-12.64-136.26c-.23-2.49-.45-5-.51-7.48a53.89 53.89 0 00-8-27.79c-4.37-7.1-6.14-15.4-7.66-23.61-.17-.93.12-2.06-1.09-2.55V268c1.77-6.14 3.25-12.39 5.43-18.38a23.82 23.82 0 001.48-10.7c-1.44-15.25-2.71-30.51-4.3-45.74a7.2 7.2 0 012.26-6.57c10.57-10.75 23.6-17.17 37.74-21.57 31-9.65 62.92-12.44 95.13-13 37.05-.61 73.92 1.17 109.93 11 16.55 4.5 32.14 11 44.39 23.61 1.36 1.41 2.81 2.54 2.54 5-1.21 11.25-1.32 22.7-3.46 33.76-3 15.4 2 29.31 5.84 43.57zm-44.92-112.18A46.7 46.7 0 00398 176c-1.1-.36-2.17-.82-3.29-1.08-27.55-6.39-55.55-8.27-83.73-8.37-33.19-.12-66.19 1.62-98.44 10.37-11.44 3.11-22.43 7.27-32.14 14.33-2.77 2-4.11 4.16-3.65 7.91 1.27 10.4 2 20.86 3 31.29.93 9.24 2.19 18.39-2.62 27.19a19.4 19.4 0 00-2.18 9.64c-.86 4.2-2.16 8.36-1.93 12.69.75 14.29 4.1 27.84 12 40 1.16 1.8 2.72 3.41 3 5.69.69 6.41 1.43 12.81 2 19.23.8 8.73 1.42 17.48 2.25 26.21 1.2 12.67 2.59 25.32 3.75 38 1.15 12.52 2 25.07 3.19 37.58 1.17 12.67 2.64 25.32 3.8 38 1.15 12.52 2 25.07 3.12 37.59 1.63 18.28 3.37 36.56 5.06 54.83.61 5.44 1.71 10.88 1.69 16.31a13.23 13.23 0 005.72 11.49 65.5 65.5 0 0012 7.13c18.29 8.33 37.84 11.49 57.57 12.68 22.58 1.35 45.23 1 67.53-3.77 13.86-3 27.48-6.59 39.34-14.91 4.65-3.26 7.21-7.13 7.25-13.24.05-8.27 1.28-16.54 2-24.8 1.57-16.85 3.2-33.69 4.74-50.55 1.13-12.4 2.12-24.81 3.26-37.21 1.55-16.85 3.2-33.69 4.76-50.55 1.13-12.23 2.13-24.47 3.26-36.7 1.53-16.52 3.2-33 4.7-49.55.88-9.69.42-19.64 7.21-27.85 1.55-1.87 2.41-4.37 3.39-6.66a70.34 70.34 0 004.39-41.39c-.17-5.93-2.31-11.34-4.59-16.67a14.29 14.29 0 01-1.33-7.21c1.45-15.19 2.73-30.4 4.33-45.58a5.46 5.46 0 00-2.23-5.52 70.43 70.43 0 00-25.1-12.73z' transform='translate(-159 -151.96)' fill='#5b5c5c')
                              path.cls-1(d='M211.15 577.15c-1.69-18.28-3.43-36.55-5.06-54.83-1.11-12.52-2-25.07-3.12-37.59-1.16-12.67-2.63-25.32-3.8-38-1.16-12.52-2-25.06-3.19-37.58-1.16-12.67-2.55-25.32-3.75-38-.82-8.73-1.44-17.48-2.25-26.21-.59-6.42-1.33-12.82-2-19.23-.24-2.28-1.8-3.89-3-5.69-7.88-12.18-11.22-25.72-12-40-.23-4.33 1.07-8.49 1.93-12.69 10.78-10.82 24.53-15.42 39.13-19.5-6.35 27.59-4.23 44.1 8.5 68.18a10.94 10.94 0 011.31 4.24c1 11.28 2.06 22.55 3 33.83.58 6.61 4.63 10.86 10.21 10.59 6-.29 9.6-4.93 9.06-11.9-.76-9.8-1.5-19.6-2.57-29.36-.67-6.17-.92-12.18-4.49-18.06-11.18-18.42-12-38-4.05-58 1.39-3.52 3.45-5 7.26-5.49 12.05-1.53 24.12-2.94 36.25-3.4 20.46-.78 40.94-1.44 61.39.5-.16 2.61 1.19 4.79 2.06 7.1 8.22 21.65 6.78 42.81-4.37 62.92a36.31 36.31 0 00-4.55 16.4c-.78 16.41-2.08 32.78-3 49.17-1.21 22.36-2.7 44.7-4.07 67.05-1 17-1.48 34.12-4.08 51-3.29 21.45-10 41.55-22.52 59.56-18.45 26.6-49 37-79.74 26.89-2.64-.84-5.31-2.61-8.49-1.9z' transform='translate(-159 -151.96)' fill='#fff')
                              path(style='fill: #{tap.rgb}; opacity: .78; stroke: #{tap.rgb}' d='M211.15 577.15c-1.69-18.28-3.43-36.55-5.06-54.83-1.11-12.52-2-25.07-3.12-37.59-1.16-12.67-2.63-25.32-3.8-38-1.16-12.52-2-25.06-3.19-37.58-1.16-12.67-2.55-25.32-3.75-38-.82-8.73-1.44-17.48-2.25-26.21-.59-6.42-1.33-12.82-2-19.23-.24-2.28-1.8-3.89-3-5.69-7.88-12.18-11.22-25.72-12-40-.23-4.33 1.07-8.49 1.93-12.69 10.78-10.82 24.53-15.42 39.13-19.5-6.35 27.59-4.23 44.1 8.5 68.18a10.94 10.94 0 011.31 4.24c1 11.28 2.06 22.55 3 33.83.58 6.61 4.63 10.86 10.21 10.59 6-.29 9.6-4.93 9.06-11.9-.76-9.8-1.5-19.6-2.57-29.36-.67-6.17-.92-12.18-4.49-18.06-11.18-18.42-12-38-4.05-58 1.39-3.52 3.45-5 7.26-5.49 12.05-1.53 24.12-2.94 36.25-3.4 20.46-.78 40.94-1.44 61.39.5-.16 2.61 1.19 4.79 2.06 7.1 8.22 21.65 6.78 42.81-4.37 62.92a36.31 36.31 0 00-4.55 16.4c-.78 16.41-2.08 32.78-3 49.17-1.21 22.36-2.7 44.7-4.07 67.05-1 17-1.48 34.12-4.08 51-3.29 21.45-10 41.55-22.52 59.56-18.45 26.6-49 37-79.74 26.89-2.64-.84-5.31-2.61-8.49-1.9z' transform='translate(-159 -151.96)')
                              path(style='fill: #{tap.rgb}; opacity: 100; stroke: #{tap.rgb}' d='M211.15 577.15c3.18-.71 5.84 1.06 8.62 2 30.71 10.09 61.29-.29 79.74-26.89 12.49-18 19.22-38.11 22.52-59.56 2.6-16.92 3-34 4.08-51 1.37-22.35 2.86-44.69 4.07-67.05.89-16.39 2.18-32.77 3-49.17a36.31 36.31 0 014.55-16.4c11.16-20.11 12.59-41.27 4.37-62.92-.88-2.31-2.22-4.49-2.06-7.1 17.54.28 34.75 3.25 51.94 6.37l14.02 3.46c.9.38 1.78.82 2.7 1.14 11.46 4 22.78 8.26 31.33 17.5a70.34 70.34 0 01-4.45 41.47c-1 2.29-1.84 4.78-3.39 6.66-6.79 8.21-6.33 18.16-7.21 27.85-1.49 16.52-3.16 33-4.7 49.55-1.14 12.23-2.13 24.47-3.26 36.7-1.56 16.85-3.21 33.69-4.76 50.55-1.14 12.4-2.13 24.81-3.26 37.21-1.54 16.85-3.17 33.7-4.74 50.55-.77 8.26-2 16.53-2 24.8 0 6.11-2.6 10-7.25 13.24-11.86 8.32-25.48 12-39.34 14.91-22.3 4.76-45 5.12-67.53 3.77-19.74-1.18-39.28-4.35-57.57-12.68a65.5 65.5 0 01-12-7.13 13.23 13.23 0 01-5.72-11.49c0-5.49-1.1-10.91-1.7-16.34zm186.92-291C399.53 274.64 389.48 265 378 265a20.11 20.11 0 00-20 20c-.05 12 8.37 20.9 19.89 20.94s20.11-8.29 20.18-19.83zM393.62 355c9.43 0 15.46-6.2 15.38-15.75-.07-8.37-7.23-15.14-15.87-15.32-6.92-.15-15.86 6.65-15.28 15.68.6 9.5 6.15 15.45 15.77 15.39zm-30.12 36c7.06 0 11.48-4.46 11.5-11.54 0-7.32-4.61-12.36-11.41-12.45A12.37 12.37 0 00351 379.64c.12 6.79 5.17 11.36 12.5 11.36z' transform='translate(-159 -151.96)')
                              path(d='M391.93 245.35c-17.19-3.12-34.4-6.09-51.94-6.37-20.45-1.94-40.93-1.28-61.39-.5-12.13.46-24.2 1.87-36.25 3.4-3.81.48-5.87 2-7.26 5.49-7.9 20-7.13 39.55 4.05 58 3.57 5.88 3.82 11.89 4.49 18.06 1.07 9.76 1.81 19.57 2.57 29.36.54 7-3.09 11.61-9.06 11.9-5.58.27-9.63-4-10.21-10.59-1-11.28-2.05-22.55-3-33.83a10.94 10.94 0 00-1.31-4.24c-12.74-24.09-14.86-40.6-8.5-68.18-14.6 4.08-28.35 8.68-39.13 19.5a19.4 19.4 0 012.18-9.64c4.81-8.79 3.54-17.94 2.62-27.19-1-10.43-1.73-20.89-3-31.29-.46-3.75.88-5.9 3.65-7.91 9.71-7.05 20.7-11.22 32.14-14.33 32.25-8.75 65.25-10.49 98.44-10.37 28.17.1 56.18 2 83.73 8.37 1.12.26 2.19.72 3.29 1.08-.7 9.85-1.27 19.72-2.15 29.55-1.22 13.23-2.64 26.48-3.96 39.73z' transform='translate(-159 -151.96)' fill='#fdfdfd' stroke='#fdfdfd')
                              path(d='M440 267.53c-8.54-9.23-19.87-13.49-31.33-17.5-.92-.32-1.8-.76-2.7-1.14-.65-7.8.55-15.55 1.23-23.26 1.33-15.27 3.28-30.48 3.86-45.81a70.43 70.43 0 0125.11 12.73 5.46 5.46 0 012.23 5.52c-1.6 15.18-2.88 30.38-4.33 45.58a14.29 14.29 0 001.33 7.21c2.3 5.33 4.44 10.74 4.6 16.67z' transform='translate(-159 -151.96)' fill='#d3d2d2' stroke='#d3d2d2')
                              path(d='M398.07 286.11c0 11.54-8.54 19.93-20.17 19.89s-19.95-8.9-19.89-20.94a20.11 20.11 0 0120-20c11.47-.06 21.52 9.58 20.06 21.05zM375.68 270A14 14 0 10390 284.21c.11-7.65-6.45-14.21-14.32-14.21zM393.62 355c-9.63 0-15.17-5.93-15.77-15.39-.58-9 8.36-15.83 15.28-15.68 8.64.18 15.79 6.95 15.87 15.32.08 9.59-5.95 15.75-15.38 15.75zm-12.69-16.5c0 6.49 3.74 10.47 9.91 10.55 6.63.08 11.21-4.26 11.16-10.61A10.66 10.66 0 00391.52 328c-6.52 0-10.58 4-10.59 10.5zM363.5 391c-7.33 0-12.38-4.57-12.5-11.36A12.37 12.37 0 01363.59 367c6.8.09 11.42 5.14 11.41 12.45 0 7.09-4.43 11.55-11.5 11.55zm-2.08-5c4.59 0 8.29-3.26 8.4-7.5s-4.2-8.44-8.4-8.38c-4.36.07-7.52 3.57-7.49 8.32a7.37 7.37 0 007.5 7.56z' transform='translate(-159 -151.96)' fill = '#fff')
                              path(d='M375.68 270c7.87 0 14.43 6.59 14.28 14.24A14.47 14.47 0 11375.68 270zM380.93 338.5c0-6.5 4.08-10.54 10.59-10.51A10.66 10.66 0 01402 338.44c0 6.35-4.53 10.69-11.16 10.61-6.18-.05-9.92-4.05-9.91-10.55zM361.43 386a7.37 7.37 0 01-7.49-7.56c0-4.75 3.13-8.25 7.49-8.32 4.2-.06 8.5 4.22 8.4 8.38s-3.83 7.58-8.4 7.5z' transform='translate(-159 -151.96)' fill='#fff')
                              path(d='M411.08 179.82c-.58 15.33-2.53 30.55-3.86 45.81-.67 7.71-1.87 15.45-1.23 23.26l-14.06-3.55c1.32-13.25 2.73-26.49 3.91-39.76.88-9.84 1.44-19.7 2.15-29.55a46.7 46.7 0 0113.09 3.79z' transform='translate(-159 -151.96)' fill='#e8e7e7' stroke='e8e7e7')
                              path.cls-2(style='fill: #{tap.rgb}; opacity: .78; stroke: #{tap.rgb}' d='M398.07 286.11c0 11.54-8.54 19.93-20.17 19.89s-19.95-8.9-19.89-20.94a20.11 20.11 0 0120-20c11.47-.06 21.52 9.58 20.06 21.05zM375.68 270A14 14 0 10390 284.21c.11-7.65-6.45-14.21-14.32-14.21zM393.62 355c-9.63 0-15.17-5.93-15.77-15.39-.58-9 8.36-15.83 15.28-15.68 8.64.18 15.79 6.95 15.87 15.32.08 9.59-5.95 15.75-15.38 15.75zm-12.69-16.5c0 6.49 3.74 10.47 9.91 10.55 6.63.08 11.21-4.26 11.16-10.61A10.66 10.66 0 00391.52 328c-6.52 0-10.58 4-10.59 10.5zM363.5 391c-7.33 0-12.38-4.57-12.5-11.36A12.37 12.37 0 01363.59 367c6.8.09 11.42 5.14 11.41 12.45 0 7.09-4.43 11.55-11.5 11.55zm-2.08-5c4.59 0 8.29-3.26 8.4-7.5s-4.2-8.44-8.4-8.38c-4.36.07-7.52 3.57-7.49 8.32a7.37 7.37 0 007.5 7.56z' transform='translate(-159 -151.96)')
                              path(style='fill: #{tap.rgb}; opacity: 100; stroke: #{tap.rgb}' d='M375.68 270c7.87 0 14.43 6.59 14.28 14.24A14.47 14.47 0 11375.68 270zM380.93 338.5c0-6.5 4.08-10.54 10.59-10.51A10.66 10.66 0 01402 338.44c0 6.35-4.53 10.69-11.16 10.61-6.18-.05-9.92-4.05-9.91-10.55zM361.43 386a7.37 7.37 0 01-7.49-7.56c0-4.75 3.13-8.25 7.49-8.32 4.2-.06 8.5 4.22 8.4 8.38s-3.83 7.58-8.4 7.5z' transform='translate(-159 -151.96)')


                            span.tapcircle(style='background-color: white; z-index: 999; position:absolute; color: black; margin-top: 60px;') !{idx}
                            - var namestyle
                        if(bg == 1)
                            - namestyle = 'background-color: #141414;';
                        else
                            - namestyle = 'background-color: black;';

                        if(thisfont != '')
                           - namestyle += 'font-family: ' + thisfont;
                        div(class='beername' id='beername_#{idx}' style=namestyle)
                            | !{tap.name}
                        div(class='abv' id='abv_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                            if(!(tap.abv == '' || tap.abv == null))
                                | !{tap.abv}%
                        div(class='description' id='description_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                            | !{tap.description}
                        div(class='fill' id='fill_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                            .row(style='width: 100%; height: 100%;')
                                .col-12(style='height: 60%; display: flex; align-items: flex-end;')
                                    .progress(style='width: 100%; height: 30px;')
                                        .progress-bar.bg-success(id='progressbar_#{idx}' style='width: #{tap.fill_pct}%;' role='progressbar', aria-valuenow='#{tap.fill_pct}', aria-valuemin='0', aria-valuemax='100') 
                                            span.progress_bar_span(style='transition: all 1s ease;') !{tap.fill_oz} oz.
                                .col-12(id='bottles_#{idx}' style='font-size: 12px; text-align: center; display: flex; align-items: flex-end; justify-content: center; height: 40%;')
                                    | Approx. #{tap.bottles} 12oz. bottles
                    else
                        div(class='tap_active tapnum_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                            svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 297 488.06' style='max-width: 60%; margin: auto;')
                              defs
                                style.
                                  .cls-2{fill:black}
                                  .cls-3{fill:black}
                              path(d='M456 292c-1.79 1.62-1.34 4-1.77 6-1.57 7.37-3.28 14.89-7.43 21.06-6.11 9.09-6.82 19.15-7.75 29.4q-5.31 58.94-10.79 117.87-4.71 51.73-9.35 103.46l-3 32.83a9.85 9.85 0 01-2.31 5.38c-9 11.61-21.53 17.62-35 22-28.76 9.28-58.39 11.25-88.35 9.53-19.17-1.1-38.06-3.93-56.27-10.33-12.56-4.42-24.2-10.31-32.61-21.16a9.91 9.91 0 01-2.35-5.36q-5-56.46-10.19-112.92-6.26-68.14-12.64-136.26c-.23-2.49-.45-5-.51-7.48a53.89 53.89 0 00-8-27.79c-4.37-7.1-6.14-15.4-7.66-23.61-.17-.93.12-2.06-1.09-2.55V268c1.77-6.14 3.25-12.39 5.43-18.38a23.82 23.82 0 001.48-10.7c-1.44-15.25-2.71-30.51-4.3-45.74a7.2 7.2 0 012.26-6.57c10.57-10.75 23.6-17.17 37.74-21.57 31-9.65 62.92-12.44 95.13-13 37.05-.61 73.92 1.17 109.93 11 16.55 4.5 32.14 11 44.39 23.61 1.36 1.41 2.81 2.54 2.54 5-1.21 11.25-1.32 22.7-3.46 33.76-3 15.4 2 29.31 5.84 43.57zm-44.92-112.18A46.7 46.7 0 00398 176c-1.1-.36-2.17-.82-3.29-1.08-27.55-6.39-55.55-8.27-83.73-8.37-33.19-.12-66.19 1.62-98.44 10.37-11.44 3.11-22.43 7.27-32.14 14.33-2.77 2-4.11 4.16-3.65 7.91 1.27 10.4 2 20.86 3 31.29.93 9.24 2.19 18.39-2.62 27.19a19.4 19.4 0 00-2.18 9.64c-.86 4.2-2.16 8.36-1.93 12.69.75 14.29 4.1 27.84 12 40 1.16 1.8 2.72 3.41 3 5.69.69 6.41 1.43 12.81 2 19.23.8 8.73 1.42 17.48 2.25 26.21 1.2 12.67 2.59 25.32 3.75 38 1.15 12.52 2 25.07 3.19 37.58 1.17 12.67 2.64 25.32 3.8 38 1.15 12.52 2 25.07 3.12 37.59 1.63 18.28 3.37 36.56 5.06 54.83.61 5.44 1.71 10.88 1.69 16.31a13.23 13.23 0 005.72 11.49 65.5 65.5 0 0012 7.13c18.29 8.33 37.84 11.49 57.57 12.68 22.58 1.35 45.23 1 67.53-3.77 13.86-3 27.48-6.59 39.34-14.91 4.65-3.26 7.21-7.13 7.25-13.24.05-8.27 1.28-16.54 2-24.8 1.57-16.85 3.2-33.69 4.74-50.55 1.13-12.4 2.12-24.81 3.26-37.21 1.55-16.85 3.2-33.69 4.76-50.55 1.13-12.23 2.13-24.47 3.26-36.7 1.53-16.52 3.2-33 4.7-49.55.88-9.69.42-19.64 7.21-27.85 1.55-1.87 2.41-4.37 3.39-6.66a70.34 70.34 0 004.39-41.39c-.17-5.93-2.31-11.34-4.59-16.67a14.29 14.29 0 01-1.33-7.21c1.45-15.19 2.73-30.4 4.33-45.58a5.46 5.46 0 00-2.23-5.52 70.43 70.43 0 00-25.1-12.73z' transform='translate(-159 -151.96)' fill='#5b5c5c')
                              path(d='M211.15 577.15c-1.69-18.28-3.43-36.55-5.06-54.83-1.11-12.52-2-25.07-3.12-37.59-1.16-12.67-2.63-25.32-3.8-38-1.16-12.52-2-25.06-3.19-37.58-1.16-12.67-2.55-25.32-3.75-38-.82-8.73-1.44-17.48-2.25-26.21-.59-6.42-1.33-12.82-2-19.23-.24-2.28-1.8-3.89-3-5.69-7.88-12.18-11.22-25.72-12-40-.23-4.33 1.07-8.49 1.93-12.69 10.78-10.82 24.53-15.42 39.13-19.5-6.35 27.59-4.23 44.1 8.5 68.18a10.94 10.94 0 011.31 4.24c1 11.28 2.06 22.55 3 33.83.58 6.61 4.63 10.86 10.21 10.59 6-.29 9.6-4.93 9.06-11.9-.76-9.8-1.5-19.6-2.57-29.36-.67-6.17-.92-12.18-4.49-18.06-11.18-18.42-12-38-4.05-58 1.39-3.52 3.45-5 7.26-5.49 12.05-1.53 24.12-2.94 36.25-3.4 20.46-.78 40.94-1.44 61.39.5-.16 2.61 1.19 4.79 2.06 7.1 8.22 21.65 6.78 42.81-4.37 62.92a36.31 36.31 0 00-4.55 16.4c-.78 16.41-2.08 32.78-3 49.17-1.21 22.36-2.7 44.7-4.07 67.05-1 17-1.48 34.12-4.08 51-3.29 21.45-10 41.55-22.52 59.56-18.45 26.6-49 37-79.74 26.89-2.64-.84-5.31-2.61-8.49-1.9z' transform='translate(-159 -151.96)')
                              path( d='M211.15 577.15c3.18-.71 5.84 1.06 8.62 2 30.71 10.09 61.29-.29 79.74-26.89 12.49-18 19.22-38.11 22.52-59.56 2.6-16.92 3-34 4.08-51 1.37-22.35 2.86-44.69 4.07-67.05.89-16.39 2.18-32.77 3-49.17a36.31 36.31 0 014.55-16.4c11.16-20.11 12.59-41.27 4.37-62.92-.88-2.31-2.22-4.49-2.06-7.1 17.54.28 34.75 3.25 51.94 6.37l14.02 3.46c.9.38 1.78.82 2.7 1.14 11.46 4 22.78 8.26 31.33 17.5a70.34 70.34 0 01-4.45 41.47c-1 2.29-1.84 4.78-3.39 6.66-6.79 8.21-6.33 18.16-7.21 27.85-1.49 16.52-3.16 33-4.7 49.55-1.14 12.23-2.13 24.47-3.26 36.7-1.56 16.85-3.21 33.69-4.76 50.55-1.14 12.4-2.13 24.81-3.26 37.21-1.54 16.85-3.17 33.7-4.74 50.55-.77 8.26-2 16.53-2 24.8 0 6.11-2.6 10-7.25 13.24-11.86 8.32-25.48 12-39.34 14.91-22.3 4.76-45 5.12-67.53 3.77-19.74-1.18-39.28-4.35-57.57-12.68a65.5 65.5 0 01-12-7.13 13.23 13.23 0 01-5.72-11.49c0-5.49-1.1-10.91-1.7-16.34zm186.92-291C399.53 274.64 389.48 265 378 265a20.11 20.11 0 00-20 20c-.05 12 8.37 20.9 19.89 20.94s20.11-8.29 20.18-19.83zM393.62 355c9.43 0 15.46-6.2 15.38-15.75-.07-8.37-7.23-15.14-15.87-15.32-6.92-.15-15.86 6.65-15.28 15.68.6 9.5 6.15 15.45 15.77 15.39zm-30.12 36c7.06 0 11.48-4.46 11.5-11.54 0-7.32-4.61-12.36-11.41-12.45A12.37 12.37 0 00351 379.64c.12 6.79 5.17 11.36 12.5 11.36z' transform='translate(-159 -151.96)')
                              path(d='M391.93 245.35c-17.19-3.12-34.4-6.09-51.94-6.37-20.45-1.94-40.93-1.28-61.39-.5-12.13.46-24.2 1.87-36.25 3.4-3.81.48-5.87 2-7.26 5.49-7.9 20-7.13 39.55 4.05 58 3.57 5.88 3.82 11.89 4.49 18.06 1.07 9.76 1.81 19.57 2.57 29.36.54 7-3.09 11.61-9.06 11.9-5.58.27-9.63-4-10.21-10.59-1-11.28-2.05-22.55-3-33.83a10.94 10.94 0 00-1.31-4.24c-12.74-24.09-14.86-40.6-8.5-68.18-14.6 4.08-28.35 8.68-39.13 19.5a19.4 19.4 0 012.18-9.64c4.81-8.79 3.54-17.94 2.62-27.19-1-10.43-1.73-20.89-3-31.29-.46-3.75.88-5.9 3.65-7.91 9.71-7.05 20.7-11.22 32.14-14.33 32.25-8.75 65.25-10.49 98.44-10.37 28.17.1 56.18 2 83.73 8.37 1.12.26 2.19.72 3.29 1.08-.7 9.85-1.27 19.72-2.15 29.55-1.22 13.23-2.64 26.48-3.96 39.73z' transform='translate(-159 -151.96)' fill='#fdfdfd' stroke='#fdfdfd')
                              path(d='M440 267.53c-8.54-9.23-19.87-13.49-31.33-17.5-.92-.32-1.8-.76-2.7-1.14-.65-7.8.55-15.55 1.23-23.26 1.33-15.27 3.28-30.48 3.86-45.81a70.43 70.43 0 0125.11 12.73 5.46 5.46 0 012.23 5.52c-1.6 15.18-2.88 30.38-4.33 45.58a14.29 14.29 0 001.33 7.21c2.3 5.33 4.44 10.74 4.6 16.67z' transform='translate(-159 -151.96)' fill='#d3d2d2' stroke='#d3d2d2')
                              path(d='M375.68 270c7.87 0 14.43 6.59 14.28 14.24A14.47 14.47 0 11375.68 270zM380.93 338.5c0-6.5 4.08-10.54 10.59-10.51A10.66 10.66 0 01402 338.44c0 6.35-4.53 10.69-11.16 10.61-6.18-.05-9.92-4.05-9.91-10.55zM361.43 386a7.37 7.37 0 01-7.49-7.56c0-4.75 3.13-8.25 7.49-8.32 4.2-.06 8.5 4.22 8.4 8.38s-3.83 7.58-8.4 7.5z' transform='translate(-159 -151.96)' fill='#fff')
                              path(d='M411.08 179.82c-.58 15.33-2.53 30.55-3.86 45.81-.67 7.71-1.87 15.45-1.23 23.26l-14.06-3.55c1.32-13.25 2.73-26.49 3.91-39.76.88-9.84 1.44-19.7 2.15-29.55a46.7 46.7 0 0113.09 3.79z' transform='translate(-159 -151.96)' fill='#e8e7e7' stroke='e8e7e7')
                              path.cls-2(d='M398.07 286.11c0 11.54-8.54 19.93-20.17 19.89s-19.95-8.9-19.89-20.94a20.11 20.11 0 0120-20c11.47-.06 21.52 9.58 20.06 21.05zM375.68 270A14 14 0 10390 284.21c.11-7.65-6.45-14.21-14.32-14.21zM393.62 355c-9.63 0-15.17-5.93-15.77-15.39-.58-9 8.36-15.83 15.28-15.68 8.64.18 15.79 6.95 15.87 15.32.08 9.59-5.95 15.75-15.38 15.75zm-12.69-16.5c0 6.49 3.74 10.47 9.91 10.55 6.63.08 11.21-4.26 11.16-10.61A10.66 10.66 0 00391.52 328c-6.52 0-10.58 4-10.59 10.5zM363.5 391c-7.33 0-12.38-4.57-12.5-11.36A12.37 12.37 0 01363.59 367c6.8.09 11.42 5.14 11.41 12.45 0 7.09-4.43 11.55-11.5 11.55zm-2.08-5c4.59 0 8.29-3.26 8.4-7.5s-4.2-8.44-8.4-8.38c-4.36.07-7.52 3.57-7.49 8.32a7.37 7.37 0 007.5 7.56z' transform='translate(-159 -151.96)')
                              path(d='M375.68 270c7.87 0 14.43 6.59 14.28 14.24A14.47 14.47 0 11375.68 270zM380.93 338.5c0-6.5 4.08-10.54 10.59-10.51A10.66 10.66 0 01402 338.44c0 6.35-4.53 10.69-11.16 10.61-6.18-.05-9.92-4.05-9.91-10.55zM361.43 386a7.37 7.37 0 01-7.49-7.56c0-4.75 3.13-8.25 7.49-8.32 4.2-.06 8.5 4.22 8.4 8.38s-3.83 7.58-8.4 7.5z' transform='translate(-159 -151.96)')


                            span.tapcircle(style='background-color: red; z-index: 999; position:absolute; color: black; margin-top: 60px;') !{idx}
                        - var namestyle
                        if(bg == 1)
                            - namestyle = 'background-color: #141414;';
                        else
                            - namestyle = 'background-color: black;';

                        if(thisfont != '')
                           - namestyle += 'font-family: ' + thisfont;
                        div(class='beername beername_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                        div(class='abv abv_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                        div(class='description_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))
                        div(class='fill fill_#{idx}' style=(bg == 1 ? 'background-color: #141414;' : 'background-color: black;'))

    #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content(style='background-color: transparent;')
          #exampleModalBody.modal-body(style='color: white; background-color: #444444; border-radius: 10px; border: 1px solid white; text-align: center;')
            | test