body {
	background-color: black;
	color: white;
	padding: 50px;
	font: 24px Times, Helvetica, Arial, sans-serif;
	height: 100%;
}

@font-face {
	font-family: 'Irish';
	src: url(/fonts/Irishuncialphabet-lKzq.ttf);
}

.admin_beer_name, label, .modal-body, .modal-footer, .modal-header {
	color: black;
}

a {
	color: #00B7FF;
}

.tap-body {
	margin-bottom: 10px;
}

.tap, .abv, .fill, .beername {
	justify-content: center;
}

.beername {
	text-align: center;
}

.grid-container {
	width: 100%;
	height: 80vh;
	display: grid;
	grid-template-columns: 10fr 15fr 10fr 45fr 20fr;
	grid-template-rows: 50px repeat(5, 1fr);
}

.grid-container > div {
	display: flex;
	align-items: center;
	padding: 15px;
	border: 1px solid white;
	margin:0 -1px -1px 0;
}

span.tapcircle {
	display: flex !important;
	align-items: center;
	justify-content: center;
	background-color: rgba(153,153,153,.3);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	font: 1em Permanent Marker;
	color: black;
}

#beer-svg {
  position: relative;
  z-index: 2;
}

#background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.tap_active {
	justify-content: center;
}

svg path {
	stroke-width: 3;
}